<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% include 'components/_style.html' %}

    <title>
        {{ title }}
    </title>
</head>
<body>

<div class="container">
    {% include 'layout/navbar.html' %}

    <div class="mt-5 mb-5"></div>

    {% block main %}
    <div class="row justify-content-between">
      <div class="col-3">
          <div class="list-group">
              {% for category in categories %}
              <a href="{% url 'category_new' category.id %}" class="list-group-item list-group-item-action">
                  {{ category.name }}
              </a>
              {% endfor %}
          </div>
      </div>

      <div class="col-8">
            {% block content %}
            {% endblock content %}
      </div>
    </div>
    {% endblock main %}
</div>

<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    {% include 'layout/footer.html' %}
</footer>

{% include 'components/_scripts.html' %}

</body>
</html>