{% extends 'base.html'%}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for new in news %}
  <div class="col">
      <div class="card h-100">

          {% if new.image %}
          <img src="{{ new.image.url }}" class="card-img-top" style="height: 220px; object-fit: cover;">
          {% else %}
          <img src="https://www.shutterstock.com/image-vector/image-not-found-failure-network-260nw-2330163829.jpg" class="card-img-top" style="height: 220px; object-fit: cover;">
          {% endif %}

          <div class="card-body">
              <h5 class="card-title">{{ new.type }}</h5>
              <p class="card-text">{{ new.text|linebreaksbr }}</p>
          </div>

          <div class="card-footer">
              <small class="text-muted">{{ new.author }}</small>
          </div>

      </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}